<h1>ダイヤモンドインデックス</h1>

<div class="container">
	<!--<h3>価格チャート <span class="label label-default">0.3カラット</span></h3>-->
	<!--<p>-->
	<!--<%= link_to "価格チャート", tables_chart_second_path, class: "btn btn-primary btn-lg" %>-->
	<!--</p>-->
	<%= render 'diamond_chart' %>
	
	<!--<#%= line_chart Index.group(:date).maximum(:index1) %>-->
	
	<!--<h3 class="user_margin1">相場価格 <span class="label label-default">0.3カラット-<%= @latest_date %></span></h3>-->
	<!--<p>-->
	<!--<%= link_to "相場価格指標", lists_show_path, class: "btn btn-primary btn-lg" %>-->
	<!--</p>-->
	<!--<#%= render 'diamond_market' %>-->



</div>
