<h1>Confirmation</h1>

<p>
  <%= @greeting_confirmation_table %>'s Table data creation has been done!
</p>

<h2>データ作成完了通知</h2>
<p><%= @greeting_confirmation_table %> - チャート用データテーブル作成が終了しました終了しました。
引き続き作業よろしくお願いします。</p>